:root {
  --dark: #000;
  --course: #00CD84;
  --light: rgb(179, 178, 178);
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  color: grey;
  display: block;
  padding: 20px;
  padding-left: 0;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: monospace;
  font-size: 1.4em;
  line-height: 1.5;
  margin: 0;
}

main {
  max-width: 900px;
  margin: 10vh auto;
}

main img {
  width: 100%;
}

#description p {
  padding-left: 1rem;
}

header {
  background: var(--course);
  color: var(--dark);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
  margin-top: 1.5em;
  padding-left: 1rem;
}

.back {
  padding-left: 1rem;
}

h3,
h4,
p {
  padding-left: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.gallery li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 200px;
}

.gallery img {
  border: 2px solid var(--course);
  margin-top: 2em;
  display: block;
}

img {
  max-width: 100%;
}

.gallery li a {
  text-align: center;
}

section#lecturers img {
  border-radius: 100%;
  margin-right: 1em;
}

.button {
  background: var(--light);
  color: var(--dark);
  padding: 1em;
}

.examples img {
  max-width: 25vh;
}

a,
a:visited {
  color: var(--course);
}

footer {
  font-style: italic;
  padding-left: 1rem;
}

@media (max-width: 769px) {
  h1 {
    font-size: 2em;
  }

  .gallery li {
    width: 100%;
  }

  .gallery li a {
    text-align: center;
  }

  pre code {
    font-size: 9px;
  }
}